.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
  .section-list {
    flex-wrap: wrap;
  }
  .section-workteam {
    width: 100%;
  }
  .section-about-list {
    max-width: 396px;
  }
  .section-five-list {
    /* margin: 0 auto;
    width: calc((100% - 16px) / 2); */
  }
  .section-five-item {
    display: flex;
  }

  .footer-soc-item {
    /* gap: 56px; */
  }
  .footer-div {
    text-align: left;
  }
  /* .footer-soc {
    text-align: left;
  } */
 
  .sub-forms {
    flex-direction: inherit;
  }
  /* .footer-soc-div {
    margin-top: -36px;
  } */
}
/* @media screen and (max-width: 767px) {
  .modal-menu {
    max-width: 95%;
    height: 95%;
    max-height: 584px;
    overflow: scroll;
  }
} */
@media screen and (max-width: 767px) {
  .footer-soc-div {
    margin-top: 72px;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .current {
    position: relative;
  }
  .current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    display: block;
    background-color: #404bbf;
    border-radius: 2px;
  }
  /* .header-list {
    color: var(--header-color);
  } */
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header-adr {
    font-size: 12px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.04em;
  }
  .modal-menu {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 635px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-team,
  .header-address {
    display: flex;
    gap: 40px;
  }
  .section-team-text {
    font-size: 56px;
  }
  .section-team {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section-team {
      max-width: 1157px;
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab-2x.jpg);
    }
  }
  .open-btn {
    display: none;
  }

  .section-item {
    width: 356px;
  }
  .section-about-list {
    max-width: 736px;
    gap: 72px 24px;
    justify-content: center;
  }
  .section-about-name {
    text-align-last: left;
  }
  .section-list {
    width: 264px;
  }
  .section-people-list {
    display: flex;
    gap: 64px 24px;
  }

  .section-five-list {
    /* margin: 0 auto; */
    width: 168px
  }
  .section-five-link {
    width: 100%;
  }
  .section-five-item {
    display: flex;
    gap: 72px 24px;
  }
  .footer-container {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer-logo {
text-align: left;
  }
  .footer-soc {
    text-align: left;
  }
  .footer-soc-div {
    /* margin-top: 40px; */
  }
  .sub-forms {
    display: flex;
  }
   .sub-text {
    text-align: left;
  }
  .sub-label {
width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .section-team {
    max-width: 1158px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section-team {
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-2x.jpg);
    }
  }

  .section-people-list {
    display: flex;
    gap: 24px;
  }

  .section-list {
    flex-wrap: wrap;
    width: calc((100% - 72px) / 4);
  }

  .section-about-list {
    margin: 0 auto;
    display: flex;
    gap: 24px;
    /* gap: 72px; */
  }
  .section-item {
    /* width: calc((100% - 72px) / 4); */
  }
  .section-five-item {
    display: flex;
    gap: 24px;
  }
  .section-five-list {
    margin: 0 auto;
    width: calc((100% - 32px * 5) / 6);
}
  .footer-div {
    margin-right: 120px;
  }
  .footer-sub {
    padding-left: 80px;
  }
  .sub-button {
    min-width: 165px;
    margin-left: 24px;
  }
  .footer-container {
    display: flex;
  }
  .footer > .container {
    flex-wrap: unset;
    flex-direction: unset;
  }
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media screen and (max-width: 1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .section-about-list {
    flex-wrap: wrap;
  }
  .about-ikon,
  .section-question {
    display: none;
  }
  .section-five-item {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* .footer-div{
    margin-bottom: 72px;
  } */
  
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer > .container {
    flex-wrap: wrap;
    max-width: 530px;
  }
}



.footer > .container {
  /* flex-wrap: wrap; */
  gap: 72px 24px;
  /* max-width: 530px; */
  align-items: baseline;
}
